<nav>
    <ul>
        <li>
            <a href="/prueba">Prueba</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/contacto">Conctacto</a>
        </li>
    </ul>
</nav>

<h1> Esta es la pagina de Nosotros</h1>