<nav>
    <ul>
        <li>
            <a href="/prueba">Prueba</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/contacto">Conctacto</a>
        </li>
    </ul>
</nav>

<h1>Esta es la pagina de contacto</h1>

<form action="/contacto" method="post" class="formulario">
<p>
    <label for "nombre">Nombre</label>
    <input type="text" name="nombre">
</p>

<p>
    <label for="email">Email</label>
    <input type="text" name="email">
</p>

<p>
    <label for="telefono">Telefono</label>
    <input type="text" name="tel">
</p>
<p>
    <label for="mensaje">Mensaje</label>
    <textarea name="mensaje"></textarea>
</p>
<p class="acciones"> <input type="submit" value="Enviar"/></p>
</form>