.botonRojo{
    width: 100px;
    height: 100px;
    padding-right: 10px;
    background-color: red;
  
}

.botonNegro{
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    
}

.botonVerde{
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: green;
}