<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fas fa-glasses"></i> optica keiner</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">home |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#servicios">servicios |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#temporada21">temporada '21 |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#productos">productos |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">contacto |</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    lo que tus ojos necesitan
                </span>
            </div>
        </div>
    </nav> {{!-- fin del navbar --}}

    <div class="container-fluid py-2">
        <div id="home" class="row align-items-center hero">
            <div class="col-lg-5 offset-lg-1">
                <p></p>
                <h1>optica keiner</h1>
                <p> Te invitamos a conocer nuestra nueva gama de anteojos. Para que ver bien, se vea bien.</p>
            </div>
        </div>
    </div> {{!-- fin de home --}}

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../images/car1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../images/car2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../images/car3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div> {{!-- fin de carousel --}}


    <div class="row servicios py-5" id="servicios">
        <h2>servicios</h2>
        <div class="col text-center py-4">
            <i class="fas fa-sun fa-7x"></i>
            <p>lentes de sol</p>
        </div>
        <div class="col text-center py-4">
            <i class="fas fa-asterisk fa-7x"></i>
            <p>lentes aéreos</p>
        </div>
        <div class="col text-center py-4">
            <i class="fas fa-glasses fa-7x"></i>
            <p>lentes multifocales</p>
        </div>
        <div class="col text-center py-4">
            <i class="fas fa-eye fa-7x"></i>
            <p>contactología</p>
        </div>
    </div> {{!-- servicios --}}

    <div id="temporada21" class="row py-5">
        <div class="col align-items-center">
            <h2>temporada 2021</h2>
            <div class="card-group">
                <div class="card">
                    <img src="../images/temporada1.jpg" class="card-img-top mx-auto" alt="redondeados">
                    <div class="card-body">
                        <h4 class="card-title">redondeados</h4>
                        <p class="card-text">listos para lucir como nunca</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/temporada2.jpg" class="card-img-top mx-auto" alt="sobrios">
                    <div class="card-body">
                        <h4 class="card-title">sobrios</h4>
                        <p class="card-text">para no pasar desapercibido pero con mucho estilo</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/temporada3.jpg" class="card-img-top mx-auto" alt="clasicos">
                    <div class="card-body">
                        <h4 class="card-title">clásicos</h4>
                        <p class="card-text">el estilo que no falla</p>
                    </div>
                </div>
            </div>
        </div>
    </div> {{!-- fin temporada21 --}}

    <div id="temporada21" class="row py-5">
        <div class="col align-items-center">
            <h2>productos</h2>
            <div class="card-group">
                 {{#each productos}}
                <div class="card">
                    <img src="{{imagen}}" class="card-img-top mx-auto" alt="redondeados">
                    <div class="card-body">
                        <h4 class="card-title">{{modelo}}</h4>
                        <p class="card-text">{{marca}}</p>
                    </div>
                </div>
                 {{/each}}
            </div>
        </div>
    </div>

    <div class="h100 d-flex justify-content-evenly py-5">
        <div class="col">
            <h2>ubicacion</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3393.2493577789514!2d-60.51569234850235!3d-31.736393981206906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b44d8b47499a83%3A0x8ae12486c604d1cb!2sFrancisco%20Soler%201362%2C%20Paran%C3%A1%2C%20Entre%20R%C3%ADos!5e0!3m2!1sen!2sar!4v1630031737199!5m2!1sen!2sar"
                width="400" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col md-8" id="contacto">
            <h2>contacto</h2>
            <form action="/" method="post" class="formulario" "row g-3">
                <div class="col-md-6">
                    <label for="nombre" class="form-label"></label>
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre">
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label"></label>
                    <input type="text" class="form-control" name="apellido" placeholder="Apellido">
                </div>
                <div class="col-md-8">
                    <label for="email" class="form-label"></label>
                    <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="col-12">
                    <label for="direccion" class="form-label"></label>
                    <input type="text" class="form-control" name="direccion" placeholder="Calle, Numero">
                </div>
                <div class="col-md-6">
                    <label for="ciudad" class="form-label"></label>
                    <input type="text" class="form-control" name="ciudad" placeholder="Ciudad">
                </div>
                <div class="col-md-4">
                    <label for="provincia" class="form-label"></label>
                    <select name="provincia" class="form-select">
                        <option selected>Provincia</option>
                        <option>Buenos Aires</option>
                        <option>Catamarca</option>
                        <option>Chaco</option>
                        <option>Chubut</option>
                        <option>Córdoba</option>
                        <option>Corrientes</option>
                        <option>Entre Rios</option>
                        <option>Formosa</option>
                        <option>Jujuy</option>
                        <option>La Pampa</option>
                        <option>La Rioja</option>
                        <option>Mendoza</option>
                        <option>Misiones</option>
                        <option>Neuquén</option>
                        <option>Río Negro</option>
                        <option>Salta</option>
                        <option>San Juan</option>
                        <option>San Luis</option>
                        <option>Santa Cruz</option>
                        <option>Santa Fe</option>
                        <option>Santiago del Estero</option>
                        <option>Tierra del Fuego</option>
                        <option>Tucumán</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="codpostal" class="form-label"></label>
                    <input type="text" class="form-control" name="codpostal" placeholder="Codigo postal">

                    <p class="acciones"> <input type="submit" value="Enviar" /></p>
                </div>
            </form>
            {{message}}
        </div>
    </div>

    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>

    <footer class="text-end footer">
        <p>
            design by Emanuel Keiner
        </p>
    </footer>
  