<div class="container" style="margin-top: 80px; ">
    <div class="row">
        <div class="col">
           <p>Hola {{usuario}}!</p>
           <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión</a>
        </div>
    </div>

</div>